/* in a single css file index.hmtl  , movie.html , fav.html  files styling has been given  */

/*body styling   */
body {
background-image: url(bb.jpg);

background-size:auto;
background-repeat:repeat;

}
h3 {
    text-align:left;
    color: white;
}
.inner-div{
    background-color: rgba(99, 230, 180, 0.856);
    border-radius: 20px;
}
/* imdb logo  */
.imdb-img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-right: 10px;
    border: 3px solid rgb(241, 79, 79)
}

/* search bar styling  */
.search-bar {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;

}

.search-bar {
    margin-right: 25px;
    margin-top: 200px;
}

/* heart icon  */
.fa-heart {
    font-size: 60px;
    padding: 6%;
    color: rgb(238, 60, 60);
    background-color: rgba(238, 238, 238, 0);
    border-radius: 81px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
margin: auto;
}
/* search bar inner styling  */

.inner-button {
    color: black;
    padding: 13px;
    height: 28px;
    width: 500px;
    background-color: rgb(240, 209, 171);
    border-radius: 19px;
    border-color: black; 
    box-shadow: 5px 5px 10px rgb(219, 174, 167);
}

a {
    font-size: 40px;
    color: rgb(233, 221, 221);
    text-align: center;
    text-shadow: 4px rgb(255, 255, 255);
}
/* index.html ends here */

/* css for fav movie html page  */

#fav-movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.card-title {
    color: white;
    text-align: justify;
}

/* common img size for all page   in inner html */
.img-mov {
    height: 250px;
    width: 250px;
}

h1 {

    text-align: center;
    color: rgb(81, 0, 212);
    background-color: rgb(250, 177, 87);
    border-radius: 4px;
    
}


/* for the  list of movie that showed when we search  */
.searched-movie {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    background-color: azure;
    border-radius: 12px;
}

.container-movie{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* details styling  */

.card-title{
    color: rgba(226, 17, 2, 0.861);
    font-size: xx-large;
    letter-spacing: 3px;
}
.card-text{
    color: rgb(201, 57, 112);
    border: 2px solid rgb(234, 32, 32);
    padding: 2px;
    box-shadow: 5px 5px 10px rgb(47, 221, 189);
    background-color: azure;
    border-radius: 2px;
}
